@media screen and (min-width: 600px) {
  .loginImg {
    width: 20%;
    margin-top: -5%;
  }

  form {
    width: 60%;
    margin: 0 auto;
  }

  h1 {
    margin-top: 10%;
  }

  .swiper-slide,
  .swiper-slide-active,
  .swiper-slide-prev,
  .swiper-slide-next {
    transform: rotate(0) scale(1);
  }

  .cardLogo {
    width: 60px;
  }

  .votePage p {
    font-size: 30px;
    padding: 0 5%;
  }

  .wrapper {
    margin: 20% 0;
  }

  .div1 {
    display: inline-block;
    width: 40%;
    margin: 0;
  }
  .div2 {
    display: inline-block;
    width: 58%;
    transform: translateY(-90px);
    margin: 0;
  }

  .div1 img {
    width: 50%;
    left: 0;
    overflow: hidden;
  }
}
