/* GENERAL */

.userBox {
  position: absolute;
  top: 5%;
  right: 5px;
  padding: 5px 10px;
  min-width: 100px;
  text-align: right;
  height: auto;
  font-size: 20px;
}

.userBox span {
  margin: 0;
  padding: 0;
}

.userBox .friendcode{
  font-size: 16px;
  text-align: right;
  color: #ccc;
  padding: 0;
  margin: 0;
}

.editbutton {
  position: absolute;
  right: 0;
  background-color: lightblue;
  top: 13%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 20px;
  height: 100px;
  justify-content: center;
}

.editbutton i {
  margin: 0;
  left: 2px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.editmenu {
  position: absolute;
  width: 100%;
  transition: 1s;
  top: 0;
  left: 0;
  height: 100%;
  padding: 15% 0 0 0;
  margin: 0;
}

.editmenu form {
  border: 1px solid #53adb5;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  background-color: lightblue;
}

.editmenu a {
  font-size: 30px;
}

#editscreen {
  transform: translateX(100%);
}

.isOut {
  background-color: rgba(255, 0, 0, 0.4) !important;
}

.isOut2 {
  color: rgba(255, 0, 0, 0.4) !important;
}

.respContainer {
  margin: 0 auto;
  max-width: 400px;
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

.smallBtn {
  padding: 5px;
}

/* SECRET */

.hiddenField {
  color: transparent;
}

/* ANIMATIONS */

/* swoopIn animation */
@keyframes swoopIn {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0px);
  }
}
-webkit-@keyframes swoopIn {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0px);
  }
}
-moz-@keyframes swoopIn {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* size animation */
@keyframes size {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
-webkit-@keyframes size {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
-moz-@keyframes size {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

/* ploop animation */
@keyframes ploop {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
-webkit-@keyframes ploop {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
-moz-@keyframes ploop {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* POPUP STYLE */

#popUpChangeName,
#popUpChangeFirstName,
#popUpChangePassword,
#popUpAddEmail,
#popUpDeleteAccount {
  display: none;
}

/* specific css for delete popup */
#deleteAccount {
  background-color: rgba(255, 0, 0, 0.4);
  border: 1px solid #eb2626;
}

.popupStyle {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.7);
  width: 90%;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
  margin-top: 10%;
  top: 30%;
  left: 50%;
  padding: 10% 0;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.popupStyle form {
  margin-top: 5%;
}

.popupStyle p {
  text-align: center !important;
  font-size: 30px;
}

.closeLink {
  position: absolute;
  font-size: 100px;
  left: 20px;
  top: -10px;
}

/* BUTTON */

.submitDiv {
  width: 100%;
  text-align: center;
}

/*
.styledBtn {
  font-size: 40px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  border-radius: 10px;
  margin: 5% 2px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 90%;
  text-transform: uppercase;
  border: 0;
  text-transform: uppercase;
  background-color: rgba(83, 173, 181, 0.4);
  border: 1px solid #53adb5;
  border-radius: 10px;
}

.styledBtn:disabled {
  background-color: rgba(94, 95, 97, 0.4) !important;
  border: 1px solid #5e5f61;
}
*/

#deleteFromFollowing {
  font-size: 20px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  border-radius: 10px;
  margin: 5% 2px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 60%;
  text-transform: uppercase;
  border: 0;
  text-transform: uppercase;
  background-color: rgba(255, 0, 0, 0.4);
  border: 1px solid #eb2626;
  border-radius: 10px;
}

/* MOLBOEK SCREEN */

.wrapper {
  height: 100px;
  width: 100%;
}

.div1 {
  display: inline-block;
  width: 40%;
  margin: 0;
}
.div2 {
  display: inline-block;
  width: 58%;
  transform: translateY(-70px);
  margin: 0;
}

.displayItem {
  background-color: rgba(0, 0, 0, 0.4);
  width: 90%;
  margin: 80px auto;
  animation-duration: 1.2s;
  animation-name: swoopIn;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-name: swoopIn;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-duration: 1.2s;
  -moz-animation-name: swoopIn;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: backwards;
}

.displayItem span {
  color: #ffffff !important;
}

.div1 img {
  width: 100%;
  overflow: hidden;
  transform: translateX(-11px);
}

.displayItemName {
  text-transform: uppercase !important;
  margin-left: 10%;
  font-size: 30px !important;
  margin-top: -10px !important;
  background-color: #53adb5;
  padding: 5px;
}

.displayItemNumber {
  float: right;
  font-size: 50px !important;
  margin-right: 10%;
  background-color: #53adb5;
  width: 50px;
  padding: 2px;
  text-align: center;
}

/* RANGLIST */

.rangList {
  height: 100%;
  width: 100%;
}

.rangList h1 {
  color: #ffffff;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30%;
}

.rangList p {
  color: #ffffff;
  font-size: 50px;
}

.rangListSubTitle {
  color: #ffffff;
  font-size: 30px !important;
  padding: 30px;
}

.rangItem {
  background-color: rgba(0, 0, 0, 0.4);
  width: 90%;
  height: 50px;
  margin: 10px auto;
  animation-duration: 1.2s;
  animation-name: swoopIn;
  animation-timing-function: ease;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-name: swoopIn;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-duration: 1.2s;
  -moz-animation-name: swoopIn;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: both;
}

.rangItem p {
  text-transform: capitalize;
  margin: 0;
}

.rangitem p span {
  background-color: #53adb5 !important;
  height: 100%;
  width: 100px !important;
  text-align: center;
  color: #ffffff;
  transition: 1s;
}

.carousel .carousel-item {
  width: 100%;
}

.selected {
  background-color: rgba(83, 173, 181, 0.4) !important;
}

/* TABS STYLING */

.tabs {
  text-align: center;
}

.tabs li {
  float: none;
  display: inline-block;
  margin: 0 20px;
  min-width: 100px;
}

.tabs .indicator {
  /* hide the lame indicator from materialize */
  display: none;
}

.tabs #thecooler_indicator {
  /* show the way cooler indicator instead */
  width: 50%;
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transition: 0.4s;
  height: 2px;
  background-color: #53adb5;
}

/* LOGIN SCREEN */

/* information popup */

#informationPopup {
  z-index: 500 !important;
  width: 90%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -50px;
  transition: 0.4s;
}

#informationPopup p {
  margin: 0 auto;
  font-size: 30px !important;
  padding: 5px;
  text-align: center !important;
}

#informationPopup i {
  color: #ffffff !important;
}

#loginbox {
  width: 100%;
  margin: 0 auto;
}

.loginImg {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.loginText {
  text-transform: uppercase;
  font-size: 40px;
  align-self: center;
  color: #ffffff;
}

.loginLink {
  align-self: center;
  color: #ffffff;
  font-size: 30px;
  padding-bottom: 0%;
  margin-bottom: 0;
  text-align: center !important;
}

.loginLink a {
  text-transform: uppercase;
}

.loginError {
  align-self: center;
  color: #ffffff;
  font-size: 30px;
  color: #eb2626;
}

#log a {
  margin: 0 !important;
  font-size: 25px !important;
}

#log {
  display: block;
  text-align: center;
}

#reg {
  display: none;
  text-align: center;
}

/* Home screen */

.bericht {
  width: 90%;
  margin: 0 auto;
}

.buttonsDiv {
  width: 100%;
}

.buttonsDiv a {
  margin: 0 auto;
  align-items: center;
}

.buttonsDiv a i {
  padding-top: 20px;
  font-size: 30px;
  width: 80px;
  height: 50px;
  margin: 10px;
}

/* Uitleg screen */

.example {
  color: darkgray !important;
  border-left: 2px solid darkgray;
  margin-left: 20px;
}

/* Profile screen */

.userInfo {
  margin: 0;
}

.awards {
  overflow: auto;
  white-space: nowrap;
}

.awards div {
  width: 150px;
  display: inline-block;
  margin: 10px;
  animation-duration: 1s;
  animation-name: ploop;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: ploop;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-duration: 1s;
  -moz-animation-name: ploop;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: backwards;
}

.awards div img {
  width: 100%;
}

.awards div p {
  font-size: 25px;
  text-align: center !important;
  margin: 10px auto;
  text-transform: capitalize;
}

#collapsible {
  transition: 0.4s;
}

#collapsible-content {
  display: none;
  overflow: hidden;
  transition: 0.4s;
}

.delete {
  text-align: center;
  margin-top: 30px;
}

.delete i {
  color: #ffffff;
}

/* DEELNEMERS */

.deelnemerItem {
  margin: 5px auto !important;
  position: relative;
  animation-duration: 1s;
  animation-name: ploop;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: ploop;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-duration: 1s;
  -moz-animation-name: ploop;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: backwards;
  transition: 0.2s;
}

.deelnemerItem:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

.deelnemerItem i {
  position: absolute;
}

.deelnemerItem .right {
  right: 5px;
}
.deelnemerItem .left {
  left: 5px;
}

/* AWARDSLIST PAGE */

.awardslist {
  margin-top: 100px;
}

.awardslist div {
  width: 90%;
  display: inline-block;
  margin: 10px;
  position: relative;
  animation-duration: 1s;
  animation-name: ploop;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: ploop;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-duration: 1s;
  -moz-animation-name: ploop;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: backwards;
}

.awardslist div img {
  width: 100px;
  float: left;
  margin: 5px;
}

.awardslist div h3 {
  margin: 5px 0 0 5px;
}

.awardslist div p {
  font-size: 20px;
  text-align: left !important;
  margin: 0;
}

.awardslist div i {
  position: absolute;
  right: 10px;
  top: 10px;
}

/* change password popup menu */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* deelnemers list */

.deelnemersList {
  width: 100%;
}

.deelnemersList a {
  display: inline-block;
  width: 90%;
  padding: 5px;
  color: #ffffff !important;
  font-size: 30px;
  margin: 10px 0;
  text-transform: capitalize;
}

.goBackArrow {
  width: 50px;
  transform: rotate(90deg);
  position: absolute;
  right: 20px;
  top: 2%;
}

/* Footer */

.legalLinks {
  text-align: center;
  margin: 5% 0 10% 0;
}

.legalLinks a {
  font-size: 20px !important;
}

.legalLinks p {
  font-size: 20px !important;
  color: #7e7979 !important;
  text-align: center !important;
}

.legalLinks p i {
  font-size: 15px !important;
  color: #7e7979 !important;
}

.circle {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: #53adb5;
  margin: 2px 5px;
}

/* PROGRESS BAR PERCENT */

.status p {
  text-transform: capitalize;
  margin: 0 0;
  font-size: 30px;
}

.percent .smaller {
  font-size: 10px;
}

.meter {
  height: 20px;
  margin: 5px auto;
  position: relative;
  padding: 5px;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.4);
}

.meter > span {
  display: block;
  height: 100%;
  background-color: #53adb5;
  position: relative;
  overflow: hidden;
  color: #ffffff !important;
}

/* Vote page */

.candidate {
  margin: 0 2px;
}

.candidateInfo {
  text-transform: capitalize;
  text-align: center;
  padding: 0;
  margin: 0;
}

.candidateInfo input[type=range]{
  margin: 30px auto;
  width: 80%;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 30px solid #53adb5;
  position: absolute;
  transform: translateY(-10px);
  z-index: 1001;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}

.candidate img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.disabledPerson{
  position: relative;
}

.disabledPerson:after{
  -webkit-position: absolute; content: ''; display: block; top: 0; left: 0; height: 100%; width: 100%;
  -webkit-background: rgba(235, 38, 38, 0.99);
  -webkit-mix-blend-mode: color;
  -moz-position: absolute; content: ''; display: block; top: 0; left: 0; height: 100%; width: 100%;
  -moz-background: rgba(235, 38, 38, 0.99);
  -moz-mix-blend-mode: color;
  position: absolute; content: ''; display: block; top: 0; left: 0; height: 100%; width: 100%;
  background: rgba(235, 38, 38, 0.99);
  mix-blend-mode: color;
}


.btnValue {
  background-color: rgba(0,0,0,0);
  color: #ffffff;
  font-size: 40px;
  font-weight: 600;
  font-family: 'Knockout';
  border: none;
  display: inline;
  width: 120px;
  text-align: left;
}
